@import "tailwindcss";

:root {
  --background: #F8F8F8;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: "Bakbak One", sans-serif;
  --font-body: "Courier Prime", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F8F8F8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Courier Prime", monospace;
}

h1, h2, h3 {
  font-family: "Bakbak One", sans-serif;
}

.card { 
  border: 4px solid black;
  
}
